@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ebeaea;
    font-family: 'open sans';
}

.facebook-login-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.id-details{
    display: flex;
    flex-direction: column;
}
.details{
    margin-left: 90px;
}
.details h2{
    font-size: 48px;
    font-weight: 300;
}

.details p{
    margin: 5px 0px 20px 0px;
    color: #737373;
}
.id-image img{
    max-width: 150px;
    padding: 0 15px;
}
.id-image h1{
    font-size: 20px;
    font-weight: 400;
    background: #ffffff;
    border-radius: 0 0 8px 8px;
}
.id-image{
    display: inline-block;
    margin-right: 20px;
    max-width: 250px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}
.id-image:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.id-image h1{
    padding: 10px;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px 20px 0px 20px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
input:focus{
    color: black;
    outline-color: #2961fc;
    border: 2px solid #2961fc;
}
.login-form a{
    margin-bottom: 20px;
    text-decoration: none;
    color: #2961fc;
    font-family: inherit,serif;
}
.login-form .login{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #2961fc;
    cursor: pointer;
}
.login-form .create{
    margin: 30px auto;
    height: 50%;
    width: 50%;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: #05bd05;
    cursor: pointer;
}
.login-form input{
    margin-bottom: 20px;
    padding: 14px 16px;
    max-width: 100%;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}